extends _layouts/application

block head_end
	link(rel="stylesheet" href="assets/css/style.css") 

block content
	include _partials/content

block scripts
	script(type="text/javascript" src="assets/js/script.js")
