@mixin sr-only($src, $width, $height) {
	background-image: url($src);
	background-repeat: no-repeat;
	display: block;
	outline: none;
	overflow: hidden;
	text-indent: -999px;
	width: $width;
	height: $height;
	font-size: 0;
}


// responsive
$mobile-width: 453px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}
